# IDE ve sanal ortam dosyaları
.idea/
.venv/
env/
venv/
.env
.env/

# Python derleme ve cache dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Jupyter Notebook checkpoint'leri
.ipynb_checkpoints/

# Çalışma dosyaları / veri dosyaları
*.csv
*.npy
*.json

# Görsel ve çıktı dosyaları
*.png
*.jpg
*.jpeg
*.pdf

# Sistem dosyaları
.DS_Store
Thumbs.db

# Logs
*.log

# Test / debug dosyaları
test_*.py
